<html lang="ru">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../vendor/normalize.css" />
    <link rel="stylesheet" href="../../vendor/fonts.css" />
    <link rel="stylesheet" href="./chat.css" />
    <title>Chats</title>
  </head>

  <body class="page">
    <section class="section-left">
      <a class="section-left__link">Профиль ></a>
      <input
        class="section-left__search"
        type="search"
        placeholder="Поиск"
        name="search"
      />
      <div class="chats">
        {{#each chats.chats}}
          <div class="chat">
            <img class="chat__avatar" src="../{{imageUrl}}" />
            <div class="chat__content">
              <p class="chat__title">{{title}}</p>
              <div class="chat__last">
                <p class="chat__last-user-name">{{lastUserName}}&nbsp;<div
                    class="chat__last-message"
                  >{{lastMessage}}</div></p>
              </div>
            </div>
            <div class="chat__right">
              <div class="chat__date">{{timeLastMessage}}</div>
              {{#if isNewMessages}}
                <p class="chat__count-messages">{{countNewMessages}}</p>
              {{/if}}
            </div>
          </div>
        {{/each}}
      </div>
    </section>
    <section class="section-right">
      <div class="chat__top">
        <div class="chat__top_left">
          <img class="chat__top_avatar" src="../{{chat.chat.imageUrl}}" />
          <p class="chat__top_title">{{chat.chat.title}}</p>
        </div>
        <button class="chat__top_button"></button>
      </div>
      <div class="content">
        <p class="content__date">19 июня</p>
        {{#each chat.chat.messages}}
          {{#if isMyMessage}}
            <div class="content__container-right">{{textMessage}}
              <div class="content__check"></div>
              <p class="content__time-right">{{timeMessage}}</p>
            </div>
          {{else}}
            <div class="content__container-left">{{textMessage}}
              <p class="content__time-left">{{timeMessage}}</p>
            </div>
          {{/if}}
        {{/each}}
      </div>
      <div class="chat__bottom">
        <button class="chat__bottom_link"></button>
        <input class="chat__bottom_input" type="text" placeholder="Сообщение" />
        <button class="chat__bottom_button" type="button"></button>
      </div>
    </section>

  </body>

</html>