<div class="input-element">
<label class="form1__label">{{labelText}}</label>
<input class="form1__input"
  id={{ idInput }}
  type="{{typeInput}}"
  {{#if valueInput }}
  value={{ valueInput }}
  {{/if}}
  name={{ nameInput }}
  {{#if placeholderInput }}
  placeholder={{ placeholderInput }}
  {{/if}}
  required>
</input>
  {{#if spanId}}
  <span class="form1__error" id={{spanId}}>
    {{#if errorText}}
    {{ errorText}}
    {{/if}}
  </span>
  {{/if}}
</div>
