{{#if isMyMessage}}
  <div class="content__container-right">{{textMessage}}
    <div class="content__check"></div>
    <p class="content__time-right">{{timeMessage}}</p>
  </div>
{{else}}
  <div class="content__container-left">{{textMessage}}
    <p class="content__time-left">{{timeMessage}}</p>
  </div>
{{/if}}