<html lang="ru">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../vendor/normalize.css" />
    <link rel="stylesheet" href="../../vendor/fonts.css" />
    <link rel="stylesheet" href="./chats.css" />
    <title>Chats</title>
  </head>

  <body class="page">
    <section class="section-left">
      <a class="section-left__link">Профиль ></a>
      <input
        class="section-left__search"
        type="search"
        placeholder="Поиск"
        name="search"
      />
      <div class="chats">
        {{#each chats.chats}}
          <div class="chat">
            <img class="chat__avatar" src="../{{imageUrl}}" />
            <div class="chat__content">
              <p class="chat__title">{{title}}</p>
              <div class="chat__last">
                <p class="chat__last-user-name">{{lastUserName}}&nbsp;<div
                    class="chat__last-message"
                  >{{lastMessage}}</div></p>
              </div>
            </div>
            <div class="chat__right">
              <div class="chat__date">{{timeLastMessage}}</div>
              {{#if isNewMessages}}
                <p class="chat__count-messages">{{countNewMessages}}</p>
              {{/if}}
            </div>
          </div>
        {{/each}}
      </div>
    </section>
    <section class="section-right">
      <p class="section-right__text">Выберите чат чтобы отправить сообщение</p>
    </section>

  </body>

</html>