<main class="page">
  <form class="form1" action="#">
    <div class="form1__top">
      <h2 class="form1__title">{{formTitle}}</h2>
      {{{InputEmail}}}
      {{{InputLogin}}}
      {{{InputFirstName}}}
      {{{InputSecondName}}}
      {{{InputPhone}}}
      {{{InputPassword}}}
      {{{InputRepeatPassword}}}
    </div>
    <div class="form1__bottom">
      {{{ButtonSubmit}}}
      <a href={{link}} class="form1__link">{{linkText}}</a>
    </div>
  </form>
</main>