<main class="page">
  <form class="form" action="#">
    <div class="form__top">
      <h2 class="form__title">{{formTitle}}</h2>
      {{{InputElement1}}}
      {{{InputElement2}}}
    </div>
    <div class="form__bottom">
      {{{ButtonSubmit}}}
      <a href={{link}} class="form__link">{{linkText}}</a>
    </div>
  </form>
</main>