<main class="page">
  <form class="form1" action="#">
    <div class="form1__top">
      <h2 class="form1__title">{{formTitle}}</h2>
      {{{InputElement1}}}
      {{{InputElement2}}}
      {{{InputElement3}}}
      {{{InputElement4}}}
      {{{InputElement5}}}
      {{{InputElement6}}}
      {{{InputElement7}}}
    </div>
    <div class="form1__bottom">
      {{{ButtonSubmit}}}
      <a href={{link}} class="form1__link">{{linkText}}</a>
    </div>
  </form>
</main>