<main class="page">
  <div class="profile">
    <section class="profile__left">
      <a href="/" class="profile__left_link"></a>
    </section>
    <section class="profile__right">
      <div class="avatar"></div>
      <p class="name">{{firstName}}</p>
      <form class="form" action="#">
        {{{FormElementEmail}}}
        {{{FormElementLogin}}}
        {{{FormElementFirstName}}}
        {{{FormElementSecondName}}}
        {{{FormElementNickName}}}
        {{{FormElementPhone}}}
        {{{FormOldPassword}}}
        {{{FormNewPassword}}}
        {{{FormRepeatPassword}}}
        <div class="form__bottom">
          {{{ButtonSubmit}}}
          {{{ButtonLink}}}

          <a href="/" class="form__link">Выйти</a>
        </div>
      </form>
    </section>
  </div>

</main>