<main class="page">
  <div class="profile">
    <section class="profile__left">
      {{{ButtonLinkBack}}}
    </section>
    <section class="profile__right">
      {{{Avatar}}}
      <p class="name">{{firstName}}</p>
      <form class="form" action="#">
        {{{FormElementEmail}}}
        {{{FormElementLogin}}}
        {{{FormElementFirstName}}}
        {{{FormElementSecondName}}}
        {{{FormElementNickName}}}
        {{{FormElementPhone}}}
        {{{FormOldPassword}}}
        {{{FormNewPassword}}}
        {{{FormRepeatPassword}}}
        <div class="form__bottom">
          {{{ButtonSubmit}}}
          {{{ButtonLink}}}
          {{{ButtonLogOut}}}
        </div>
      </form>
    </section>
  </div>

</main>